<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :full_name,
                required: true,
                autofocus: true,
                label: "Nome completo",
                input_html: { autocomplete: "Nome" }%>
    <%= f.input :email,
                required: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :profile,
                required: true,
                collection: ['Auxiliar externo', 'Magistrado', 'Servidor'],
                label: "Qual o seu perfil?" %>
    <%# FORMULARIO DE EXPERTS %>
    <fieldset id="form_experts" class="hide">
      <%= f.simple_fields_for :experts do |o| %>
        <%= o.input :phone_number,
                    required: true,
                    label: "Telefone",
                    input_html: { autocomplete: "telefone" } %>
        <%= o.input :city,
                    required: true,
                    label: "Cidade",
                    input_html: { autocomplete: "cidade"} %>
        <%= o.input :doc_number,
                    required: true,
                    label: "CPF ou CNPJ",
                    input_html: { autocomplete: "cidade"} %>
        <%= o.input :distance,
                    required: true,
                    label: "Distância máxima de deslocamento",
                    input_html: { autocomplete: "cidade"} %>
        <%= o.input :curriculum,
                    required: true,
                    label: "Link para o currículo na plataforma Lattes",
                    input_html: { autocomplete: "cidade"} %>
      <% end %>
    </fieldset>
    <%# FORMULARIO DE SERVANTS %>
    <fieldset id="form_servants" class="hide">
      <%= f.simple_fields_for :servants do |s| %>
        <%= s.input :court,
                    required: true,
                    label: "Lotação",
                    input_html: { autocomplete: "lotação" } %>
        <%= s.input :city,
                    required: true,
                    label: "Cidade",
                    input_html: { autocomplete: "cidade"} %>
      <% end %>
    </fieldset>
    <%= f.input :password,
                required: true,
                hint: ("Mínimo de #{@minimum_password_length} caracteres" if @minimum_password_length),
                label: "Senha",
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                label: "Confirme a senha",
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
