<div class="container overflow-auto my-5">
  <h2>Participações</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <% if ('2'..'3').to_a.include?(current_user.profile) %>
          <th scope="col">Especialista</th>
          <th scope="col">Servidor/Magistrado</th>
        <% end %>
        <th scope="col", class="text-center">Número do Processo</th>
        <th scope="col", class="text-center">Data da Convocação</th>
        <th scope="col", class="text-center">Valor</th>
        <th scope="col", class="text-center">
          <%= ('2'..'3').to_a.include?(current_user.profile) ? 'Status' : '<i class="fas fa-sliders-h">'.html_safe %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% surveys.each do |survey| %>
        <tr id="survey-<%= survey.id %>", class="text-center">
          <% if ('2'..'3').to_a.include?(current_user.profile) %>
            <th scope="col"><%= survey.expert.user.full_name %></th>
            <th scope="col"><%= survey.servant.user.full_name %></th>
          <% end %>
          <td class="text-center"><%= survey.proc_number %></td>
          <td class="text-center"><%= survey.call_date.strftime('%-d/%-m/%Y') %></td>
          <td class="text-center"><%= survey.cost.nil? || survey.cost.positive? ? survey.cost : 'Em análise' %></td>
          <td>
            <% if ('2'..'3').to_a.include?(current_user.profile) || survey.status.downcase != 'pendente' %>
              <%= survey.status %>
            <% else %>
              <div class="d-flex justify-content-around">
                <%= button_to investigation_path(survey),
                  method: 'patch',
                  remote: true,
                  params: {
                    'investigation[status]' => 'Aceite',
                  },
                  data: {
                    confirm: 'Confirma aceite?',
                    },
                  class: 'btn btn-primary' do %>
                    <i class="far fa-check-circle"></i> Aceitar
                  <% end %>
                <%= button_to investigation_path(survey),
                  method: 'patch',
                  remote: true,
                  params: {
                    'investigation[status]' => 'Recusa',
                  },
                  data: {
                    confirm: 'Confirma recusa?',
                    },
                  class: 'btn btn-danger' do %>
                    <i class="far fa-times-circle"></i> Recusar
                  <% end %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
    