<div class="navbar navbar-expand-sm navbar-light navbar-lewagon p-2">
  <nav class="navbar navbar-default custom p-0">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag ("CPTEC.png")  %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.profile == "1" %>
          <li class="nav-item dropdown">
            <%= current_user.full_name %>
            <% expert = Expert.where(user_id: current_user)[0] %>
            <%= image_tag "", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Atualizar cadastro", edit_expert_path(expert), class: "dropdown-item" %>
              <%= link_to "Convocações", "#", class: "dropdown-item" %>
              <%= link_to "Ajuda", "/guidance", class: "dropdown-item" %>
              <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <%= current_user.full_name %>
            <% servant = Servant.where(user_id: current_user)[0] %>
            <%= image_tag "", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Convocações", "#", class: "dropdown-item" %>
              <%= link_to "Pesquisa", experts_path, class: "dropdown-item" %>
              <%= link_to "Ajuda", "/guidance", class: "dropdown-item" %>
              <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      <% else %>
        <li class="nav-item active">
          <%= link_to "O PROJETO", "/about", class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "ORIENTAÇÕES GERAIS", "/guidance", class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
