<div class="card card-body">
  <h5 class="card-tittle">
    <%= link_to expert.user.full_name, expert_path(expert) %>
    <%= link_to expert_path(expert),
        class: 'btn btn-secondary',
        data: {
          toggle: 'modal',
          target: '#pergamum',
          action: 'click->search#do',
          id: expert.id
        } do %>
          <i class="fas fa-scroll"></i>
        <% end %>
    <%= link_to new_expert_investigation_path(expert),
        class: 'btn btn-secondary',
        data: { confirm: 'Deseja selecionar este profissional?'} do %>
          <i class="far fa-handshake"></i>
        <% end %>
  </h5>
  <h6 class="card-subtittle text-muted">
    <i class="fas fa-map-marker-alt"></i> <%= expert.city %> •
    <%= ['Justiça Gratuita', 'Perícia Particular', 'Ambos'][expert.accept] %> •
    <%= expert.fields.count %> Especialidades:
  </h6>
  <% fields = params[:practitioner].present? ? expert.fields.pratictioner_search(params[:practitioner]) : expert.fields.each %>
  <% fields.each do |field| %>
    <p class="card-text">
      <%= "#{field.area} - #{field.title} #{field.reg_number}" %>
    </p>
  <% end %>
</div>