<h1>Pesquisa</h1>
<p>Procure um perito utilizando os campos abaixo</p>
<%= form_tag experts_path, method: :get do |f| %>
  <%= text_field_tag :city, params[:city], class: 'form-control',
      placeholder: 'Cidade' %>
  <%= select_tag :practitioner, options_for_select(@pratictioners.map{|item| [item,item]}),
      class: 'form-control',
      placeholder: 'Area ou Especialidade' %>
  <%= button_tag '<i class="fas fa-search"></i> Buscar'.html_safe,
      class: 'btn btn-primary', value: 'search' %>
  <%= button_tag '<i class="fas fa-braille"></i> Sortear'.html_safe,
      class: 'btn btn-primary', value: 'pick',
      data: { confirm: 'O sistema selecionará aleatoriamente um dos auxiliares abaixos. Deseja prosseguir?' } %>
<% end %>
<div class="results my-3">
  <% @experts.each do |expert| %>
    <div class="card card-body">
      <h5 class="card-tittle">
        <%= link_to '#',
            class: 'btn btn-secondary',
            data: { confirm: 'Deseja selecionar este profissional? '} do %>
              <i class="far fa-handshake"></i>
            <% end %>
        <%= link_to expert_path(expert),
            class: 'btn btn-secondary' do %>
              <i class="fas fa-scroll"></i>
            <% end %>
        <%= link_to expert.user.full_name, expert_path(expert) %>
      </h5>
      <h6 class="card-subtittle text-muted">
        <i class="fas fa-map-marker-alt"></i> <%= expert.city %> • <%= expert.fields.count %> Especialidades:
      </h6>
      <% expert.fields.each do |field| %>
        <p class="card-text">
          <%= "#{field.area} - #{field.title} #{field.reg_number}" %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>