<h1>Pesquisa</h1>
<p>Procure um perito utilizando os campos abaixo</p>
<%= form_tag experts_path, method: :get do |f| %>
  <%= text_field_tag :city, params[:city], class: 'form-control',
      placeholder: 'Cidade' %>
  <%= select_tag :practitioner, options_for_select(@pratictioners.map{|item| [item,item]}),
      class: 'form-control',
      placeholder: 'Area ou Especialidade' %>
  <%= button_tag '<i class="fas fa-search"></i> Buscar'.html_safe,
      class: 'btn btn-primary' do %>
        <i class="fas fa-search"></i> Buscar
      <% end %>
<% end %>
<div class="results my-3">
  <% @experts.each do |expert| %>
    <div class="card card-body table-hover">
      <h5 class="card-tittle">
        <%= button_tag '#',
            data: {
                toggle: "modal",
                target: "#expert#{ expert.id }Modal"
              },
            class: 'btn btn-secondary' do %>
              <i class="far fa-eye"></i>
            <% end %>
        <%= expert.user.full_name %>
      </h5>
      <h6 class="card-subtittle text-muted">
        <i class="fas fa-map-marker-alt"></i> <%= expert.city %> • <%= expert.fields.count %> Especialidades:
      </h6>
      <% expert.fields.each do |field| %>
        <p class="card-text">
          <%= "#{field.area} - #{field.title} #{field.reg_number}" %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>