<h1><%= @expert.user.full_name %> - Mostrar fields.title aqui </h1>
  <h6 class="card-subtittle text-muted"><i class="fas fa-map-marker-alt"></i> <%= @expert.city %> • <%= @expert.fields.count %> Especialidades </h6>
<h3>Especialidades</h3>
<div class="card card-body table-hover">
  <h5 class="card-tittle">
    <% @expert.fields.each do |field| %>
      <p class="card-text">
        <%= "#{field.area} - #{field.title} #{field.reg_number}" %>
      </p>
    <% end %>
    <p class="card-text">
      <% unless @expert.files.empty? %>
        <% @expert.files.each_with_index do |file, index| %>
          <%= link_to "Arquivo #{index+1}", file, download: "data" %>
        <% end %>
      <% end %>
    </p>
  </h5>

</div>